*{
    margin: 0; 
    padding: 0; 
    
}

menu {
    height: 150px; /* altura del menu */
    background-color: #5849de; /*se usa para asignar color*/
    display:flex; /*se usa para organizar los elementos del menu*/
    flex-direction: row; /*se usa para organizar los elementos del menu en fila*/
}
.menu-izquierda {
    width: 25%; /*se usa para asignar el ancho del menu*/
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;/*se usa para centrar el contenido del menu*/
    color:white; /*se usa para asignar el color del texto del menu*/
    
}
.menu-izquierda img {
    width: 300px; /*se usa para asignar el ancho de la imagen del logo*/
    height: auto; /*se usa para mantener la proporción de la imagen del logo*/
}
.menu-derecha {
    width: 75%;
    background-color: #344edd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;/*se usa para centrar o mover el contenido del menu*/
    padding-right: 50px; /*se usa para asignar un espacio a la derecha del menu*/
    

}
.menu-derecha a {

    color: white; /*se usa para asignar el color del texto del menu*/
    text-decoration: none; /*se usa para eliminar el subrayado del texto del menu*/
    margin-left: 10px; /*se usa para asignar un espacio entre los enlaces del menu*/
    font-size: 18px; /*se usa para asignar el tamaño del texto del menu*/
    padding-left: 10px; /*se usa para asignar un espacio a la izquierda del menu en este caso se daria para dar espacio entre los menus de seleccion*/

}

menu a:hover {
   /* background-color: #d51818; /*se usa para asignar un color de fondo al pasar el mouse por encima de los enlaces del menu*/
    color: rgb(51, 187, 17); /*se usa para asignar el color del texto al pasar el mouse por encima de los enlaces del menu*/
   /* padding: 5px; /*se usa para asignar un espacio entre los enlaces del menu al pasar el mouse por encima de los enlaces del menu*/
    /*border-radius: 5px; /*se usa para asignar un borde redondeado a los enlaces del menu al pasar el mouse por encima de los enlaces del menu*/
    scale:1.2; /*se usa para asignar un tamaño al pasar el mouse por encima de los enlaces del menu*/
}

.card-list{

background-image: url(https://img.freepik.com/fotos-premium/digital-technology-futuristic-banner-with-circuit-lines_327072-24632.jpg);
width: 100%;
height: auto;
display: flex; 
flex-direction: row;
flex-wrap: wrap; /*se usa para organizar los elementos de la lista de tarjetas en varias filas*/
align-items: center;
justify-content: space-around; /*se usa para centrar el contenido de la lista de tarjetas*/
padding: 30px 0 30px 0;


}
.card-item {
    background-color: #dfcfcfc1;
    width: 27%; /*se usa para asignar un ancho a cada tarjeta*/
    border: solid 2px black; /*se usa para asignar un borde a cada tarjeta*/
    margin-bottom: 20px;
    border-radius: 15px; /*se usa para asignar un borde redondeado a cada tarjeta*/
    overflow: hidden; /*se usa para ocultar el contenido que se desborda de cada tarjeta*/

}

.card-item img {
    width: 100%; /*se usa para asignar un ancho a la imagen de cada tarjeta*/
    
}
.card-item:hover {
    transform: scale(1.05);
}

.card-info {
    width: 100%; /*se usa para asignar un ancho a la información de cada tarjeta*/
    height: auto;
    display: flex;
    flex-direction: column;
   

}

.card-title{

    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 10px 10px;

}
.card-desc{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 10px 10px 10px;

}
.boton-cta{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0 10px 10px 0;

}
.card-cta{
    background-color: #203bd8;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0 10px; /*ariba,derecha,abajo izquierda*/
    color:white;
    text-decoration: none;
    border:solid 2px black;
    border-radius: 10px;

}
.card-cta:hover{
    transform: scale(1.05); /*puede dar forma o como de que resalte al pasar el cursor o de que se encoja con 0.95 ejemplo*/


}
/* Estado normal del acordeón */
.accordion-item {
    padding-top: 10px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
}

/* Título */
.accordion-title {
  background: #5646e3;
  color: white;
  padding: 12px;
  cursor: pointer;
  margin: 0;
  transition: background 0.3s;
}

.accordion-title:hover {
  background: #2980b9;
  transform: scale(0.95);
}

/* Contenido oculto por defecto */
.accordion-desc {
  display: none;
  padding: 12px;
  background: #f9f9f9;
  line-height: 1.4;
}

/* Cuando el ítem tiene la clase tab-active, se muestra el contenido */
.accordion-item.tab-active .accordion-desc {
  display: block;
}



@media (max-width: 912px) {
    menu {
        background-color: black;
        height: 200px; /*se usa para asignar una altura al menu en dispositivos con pantallas pequeñas*/
        border: #000000 solid 5px; /*se usa para asignar un borde al menu en dispositivos con pantallas pequeñas*/
        border-radius: 20px;
        justify-content: space-between;

    }
    .menu-izquierda {
        width: 45%; /*se usa para asignar un ancho al menu en dispositivos con pantallas pequeñas*/
        justify-content: center; /*se usa para centrar el contenido del menu en dispositivos con pantallas pequeñas*/

    }

   .menu-derecha{

        display: none; /*se usa para ocultar el menu en dispositivos con pantallas pequeñas*/
    }
    

    .menu-derecha {
        
        display: none; /*se usa para ocultar el menu en dispositivos con pantallas pequeñas*/


    }
    .menu-container {
        background-color: black; /*se usa para asignar un color de fondo al contenedor del menu en dispositivos con pantallas pequeñas*/
        width: 15%; /*se usa para asignar un ancho al contenedor del menu en dispositivos con pantallas pequeñas*/
        display: flex; /*se usa para organizar los elementos del contenedor del menu en dispositivos con pantallas pequeñas*/
        flex-direction: row; /*se usa para organizar los elementos del contenedor del menu en fila en dispositivos con pantallas pequeñas*/
        align-items: center; /*se usa para centrar el contenido del contenedor del menu en dispositivos con pantallas pequeñas*/
        justify-content: center; /*se usa para centrar el contenido del contenedor del menu en dispositivos con pantallas pequeñas*/
    }

    .menu-container .hamburger-icon {
        width: 35px; /*se usa para asignar un ancho al icono de hamburguesa en dispositivos con pantallas pequeñas*/
        height: 35px; /*se usa para asignar una altura al icono de hamburguesa en dispositivos con pantallas pequeñas*/
        flex-direction: column;
        justify-content: space-between; /*se usa para asignar un espacio entre las lineas del icono de hamburguesa en dispositivos con pantallas pequeñas*/
    
    }
    .menu-container .hamburger-icon span {

        background-color: blue;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;

    }
    .menu-derecha-open {
        padding: 0;
        margin: 0;
        width: 40%; /*se usa para asignar un ancho al menu en dispositivos con pantallas pequeñas*/
        height: auto;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; /*se usa para asignar un espacio entre los elementos del menu en dispositivos con pantallas pequeñas*/
        z-index: 1000; /*se usa para asignar un orden de apilamiento al menu en dispositivos con pantallas pequeñas*/

    }
    .menu-derecha-open a {
        margin: 5px; /*se usa para asignar un espacio entre los enlaces del menu en dispositivos con pantallas pequeñas*/
        font-size: 20px; /*se usa para asignar un tamaño al texto del menu en dispositivos con pantallas pequeñas*/
        
    }

    .card-item{
        width: 90%;


    }
    .accordion-item{
        width: 60%

    }
    



}