*{
    margin: 0; 
    padding: 0; 
    
}
menu {
    height: 150px; /* altura del menu */
    background-color: #5849de; /*se usa para asignar color*/
    display:flex; /*se usa para organizar los elementos del menu*/
    flex-direction: row; /*se usa para organizar los elementos del menu en fila*/
}
.menu-izquierda {
    width: 25%; /*se usa para asignar el ancho del menu*/
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;/*se usa para centrar el contenido del menu*/
    color:white; /*se usa para asignar el color del texto del menu*/
    
}
.menu-izquierda img {
    width: 300px; /*se usa para asignar el ancho de la imagen del logo*/
    height: auto; /*se usa para mantener la proporción de la imagen del logo*/
}
.menu-derecha {
    width: 75%;
    background-color: #344edd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;/*se usa para centrar o mover el contenido del menu*/
    padding-right: 50px; /*se usa para asignar un espacio a la derecha del menu*/
    

}
.menu-derecha a {

    color: white; /*se usa para asignar el color del texto del menu*/
    text-decoration: none; /*se usa para eliminar el subrayado del texto del menu*/
    margin-left: 10px; /*se usa para asignar un espacio entre los enlaces del menu*/
    font-size: 18px; /*se usa para asignar el tamaño del texto del menu*/
    padding-left: 10px; /*se usa para asignar un espacio a la izquierda del menu en este caso se daria para dar espacio entre los menus de seleccion*/

}

menu a:hover {
   /* background-color: #d51818; /*se usa para asignar un color de fondo al pasar el mouse por encima de los enlaces del menu*/
    color: rgb(51, 187, 17); /*se usa para asignar el color del texto al pasar el mouse por encima de los enlaces del menu*/
   /* padding: 5px; /*se usa para asignar un espacio entre los enlaces del menu al pasar el mouse por encima de los enlaces del menu*/
    /*border-radius: 5px; /*se usa para asignar un borde redondeado a los enlaces del menu al pasar el mouse por encima de los enlaces del menu*/
    scale:1.2; /*se usa para asignar un tamaño al pasar el mouse por encima de los enlaces del menu*/
}

@media (max-width: 768px) {
    menu {
        background-color: black;
        height: 200px; /*se usa para asignar una altura al menu en dispositivos con pantallas pequeñas*/
        border: #000000 solid 5px; /*se usa para asignar un borde al menu en dispositivos con pantallas pequeñas*/
        border-radius: 20px;
        justify-content: space-between;

    }
    .menu-izquierda {
        width: 45%; /*se usa para asignar un ancho al menu en dispositivos con pantallas pequeñas*/
        justify-content: center; /*se usa para centrar el contenido del menu en dispositivos con pantallas pequeñas*/

    }

   .menu-derecha{

        display: none; /*se usa para ocultar el menu en dispositivos con pantallas pequeñas*/
    }
    

    .menu-derecha {
        
        display: none; /*se usa para ocultar el menu en dispositivos con pantallas pequeñas*/


    }
    .menu-container {
        background-color: black; /*se usa para asignar un color de fondo al contenedor del menu en dispositivos con pantallas pequeñas*/
        width: 15%; /*se usa para asignar un ancho al contenedor del menu en dispositivos con pantallas pequeñas*/
        display: flex; /*se usa para organizar los elementos del contenedor del menu en dispositivos con pantallas pequeñas*/
        flex-direction: row; /*se usa para organizar los elementos del contenedor del menu en fila en dispositivos con pantallas pequeñas*/
        align-items: center; /*se usa para centrar el contenido del contenedor del menu en dispositivos con pantallas pequeñas*/
        justify-content: center; /*se usa para centrar el contenido del contenedor del menu en dispositivos con pantallas pequeñas*/
    }

    .menu-container .hamburger-icon {
        width: 35px; /*se usa para asignar un ancho al icono de hamburguesa en dispositivos con pantallas pequeñas*/
        height: 35px; /*se usa para asignar una altura al icono de hamburguesa en dispositivos con pantallas pequeñas*/
        flex-direction: column;
        justify-content: space-between; /*se usa para asignar un espacio entre las lineas del icono de hamburguesa en dispositivos con pantallas pequeñas*/
    
    }
    .menu-container .hamburger-icon span {

        background-color: blue;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;

    }
    .menu-derecha-open {
        padding: 0;
        margin: 0;
        width: 40%; /*se usa para asignar un ancho al menu en dispositivos con pantallas pequeñas*/
        height: auto;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; /*se usa para asignar un espacio entre los elementos del menu en dispositivos con pantallas pequeñas*/
        z-index: 1000; /*se usa para asignar un orden de apilamiento al menu en dispositivos con pantallas pequeñas*/

    }
    .menu-derecha-open a {
        margin: 10px 0; /*se usa para asignar un espacio entre los enlaces del menu en dispositivos con pantallas pequeñas*/
        font-size: 20px; /*se usa para asignar un tamaño al texto del menu en dispositivos con pantallas pequeñas*/
    }

}